
/* Your CSS Code here. */

#custom-class{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Must be below .modal (z-index: 1050) */
  height: 100vh;
  width: 100vw;
  display: none; /* Initially hidden */
}